*{font-family: Helvetica}
#header {
height: 50px;
width: 100%;
background-color: white;
position: relative;
z-index: 2;
text-align: center;}

#heading{font-size: 40px;}

.background {
background-color: white;
text-align:center;}

.paragraph {height: 650px;
width: 50%;
background-color: white;
position:relative;
left:25%;
margin-top:70px;
text-align:center;
font-size: 1em}

#footer {
height:20px;
width:100%;
background-color: white;
clear: both;
text-align: center;}
a{text-decoration: none;
color: black}
a:hover {color:Silver}
