#title{text-decoration: underline;
color:#66FF66}

div{text-align:center;
font-family:Courier;
background-color:#6699FF;}

img{width:550px}

p{padding-right: 100px;
padding-left:100px;
padding-bottom:50px;}

h1{font-size: 3em}